<h1>Formularios</h1>
<div class="text-right">
	<div class="dropdown">
	  <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuForm" data-toggle="dropdown">
	    Nuevo Formulario
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenuForm">
		 <% @entity_types.each do |entity_type| %>	
	    	<li role="presentation"><a role="menuitem" tabindex="-1" href="/form_builder/<%= entity_type %>"><%= entity_type %></a></li>
		 <% end %>
	  </ul>
	</div>
</div>
<div class="table-responsive">
	
	<table class="table table-striped">
		<thead>
	    	<tr>
	        	<th>#</th>
	          <th>Nombre</th>
				 <th>Tipo de Entidad</th>
				 <th>Fecha de creacion</th>
				 <th>Ultima actualizacion</th>
				 <th></th>
				 <th>Opciones</th>
				 <th></th>
			      
	     	</tr>
		</thead>
		<tbody>
			<% numeroFormulario = 0 %>
			<% @forms.each do |form| %>
	        	<tr>
	            <td><%= numeroFormulario += 1 %></td>
							<td><%= form.form_name %></td>
							<td><%= form.entity_type %></td>
							<td><%= form.create_date %></td>
							<td><%= form.update_date %></td>
							<td><a href = "/show_form/<%= form.form_name %>"  class="btn btn-primary"> Ver </a></td>
							<td><a href = "/edit_form/<%= form.form_name %>"  class="btn btn-success"> Editar </a></td>
							<td><a href="/delete_form/<%= form.form_name %>" class="btn btn-danger">Eliminar</a></td>
						</tr>
			<% end %>
 		</tbody>
	</table>
</div>